/Debug
/ra_gen
/ra_cfg
ra/*
!ra/fsp
ra/fsp/*
!ra/fsp/src
ra/fsp/src/*
!ra/fsp/src/r_drw
ra/fsp/src/r_drw/*
!ra/fsp/src/r_dtc
ra/fsp/src/r_dtc/*
!ra/fsp/src/r_drw/r_drw_memory.c
!ra/fsp/src/r_dtc/r_dtc.c

!ra/lvgl
ra/lvgl/*
!ra/lvgl/lvgl
ra/lvgl/lvgl/*
!ra/lvgl/lvgl/src
ra/lvgl/lvgl/src/*
!ra/lvgl/lvgl/src/draw
ra/lvgl/lvgl/src/draw/*
!ra/lvgl/lvgl/src/draw/renesas
ra/lvgl/lvgl/src/draw/renesas/*
!ra/lvgl/lvgl/src/draw/renesas/dave2d
ra/lvgl/lvgl/src/draw/renesas/dave2d/*
!ra/lvgl/lvgl/src/draw/renesas/dave2d/lv_draw_dave2d_image.c

!ra/lvgl/lvgl/src/libs
ra/lvgl/lvgl/src/libs/*
!ra/lvgl/lvgl/src/libs/tiny_ttf
ra/lvgl/lvgl/src/libs/tiny_ttf/*
!ra/lvgl/lvgl/src/libs/tiny_ttf/lv_tiny_ttf.c
!ra/lvgl/lvgl/src/libs/tiny_ttf/stb_rect_pack.h
!ra/lvgl/lvgl/src/libs/tiny_ttf/stb_truetype_htcw.h

/JLinkLog.log
/build/
/.cache
